<h1 class="display-4">
    Welcome to sails-lab
</h1>

<p class="mb-4">
    This is a sails-lab app for managing articles
</p>

<a href="articles/list" class="btn btn-light">Articles list</a>
<a href="articles/add" class="btn btn-light">Add Article</a>